.links {
  align-items: center;
  display: flex;
  gap: .15rem;
}

@media (max-width: 900px) {
  .links {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: .5rem;
  }
}
